project:
  name: "{{PROJECT_NAME}}"
  prd_source: "{{PRD_FILENAME}}"
  generated_at: "{{TIMESTAMP}}"
  generator: "prd-decomposer@0.1.0"

decomposition:
  total_sections: {{TOTAL_SECTIONS}}
  domains_identified: [{{DOMAINS_LIST}}]
  uncategorized_sections: {{UNCATEGORIZED_COUNT}}
  cross_domain_contracts: {{CONTRACT_COUNT}}

completeness:
  coverage_percent: {{COVERAGE_PERCENT}}
  ambiguity_flags: {{AMBIGUITY_COUNT}}
  missing_info_flags: {{MISSING_INFO_COUNT}}
